.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f7f5f1;
  height: 500px;
}
.icon {
  width: 120px;
  height: 120px;
}

img {
  display: block;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 20px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: rgba(235, 0, 0, 0.87);
}
.priceContainer {
  display: flex;
  flex-direction: row;
}

/* .star:hover,
.star:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.star:hover ~ .star:after, .star:hover:after {
    content: "\f005";
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    fill: tomato;
  } */
.star {
  background-image: url("star.svg");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin: 5px;
  /* border: 1px solid black; */
  transition: all 0.3s ease-in;
}


svg {
  width: 120px;
  height: 120px;
}

.star:hover ~ .star,
.star:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.star:checked ~ .star,
.star:checked {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
.detailsContainer {
  display: flex;
  flex-direction: column;
}
#price {
  font-weight: bold;
  font-size: 18px;
}
#author {
  color: grey;
}
.title {
  font-size: 22px;
}

p {
  font-family: sans-serif;
}


#description{
    margin: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width:500px) {
    .container{
      flex: 100%;
    }
    .detailsContainer{
        flex: 100%;
    }

  }