.wrapperMain{
    display: flex;
    flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f7f5f1;
  height: 500px;
}
.icon {
  width: 120px;
  height: 120px;
}

img {
    object-fit: contain;
  display: block;
  max-width: 300px;
  max-height: 500px;
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 20px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #a31010;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
button:hover {
  color: white;
  background-color: rgba(235, 0, 0, 0.87);
}
.priceContainer {
  display: flex;
  flex-direction: row;
}

/* .star:hover,
.star:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.star:hover ~ .star:after, .star:hover:after {
    content: "\f005";
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    fill: tomato;
  } */
.star {
  background-image: url("star.svg");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  margin: 5px;
  /* border: 1px solid black; */
  transition: all 0.3s ease-in;
}


svg {
  width: 120px;
  height: 120px;
}

.star:hover ~ .star,
.star:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.star:checked ~ .star,
.star:checked {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#price {
  font-weight: bold;
  font-size: 18px;
}
#author {
 color: brown;
  color: grey;
}
.title {
  font-size: 22px;
  color: brown;
}

p {
  font-family: sans-serif;
}

.detailsTitle {
    color: brown;
    margin: 30px;
}

#description{
    margin: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
@media only screen and (max-width:770px) {
    .container{
      flex: 100%;
    }
    .detailsContainer{
        flex: 100%;
    }

  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }